<div class="content-heading">
  <div>Motivos de Cancelacion</div>

  <div class="ml-auto">
    <%= link_to new_departament_path do %>
      <button class="btn btn btn-info" title="Nuevo motivo">
        <i class="fas fa-plus text-light fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<div id="results" align="center">
  <%= render(
          partial: 'cancellation_motives/list',
          locals: {cancellation_motives: cancellation_motives}
      ) %>
</div>