<h2>Se ha solicitado una reserva de su propieda</h2>
<h2>Se adjunta la planilla de reserva con los datos correspondiente para el contacto</h2>
<%= render 'bookings/form_show', booking: @booking, estate: @estate,diff: @diff, plu: @plu %>