<h1>Se ha solicitado una reserva de su propieda</h1>
<h1>Se adjunta la planilla de reserva con los datos correspondiente para el contacto</h1>
<%= render 'bookings/form_show', booking: @booking, estate: @estate %>