<h2>Se ha solicitado la reserva satifactoriamente</h2>
<h2>Puede contactar con el propietario a través del siguiente correo:</h2>
<%=@user_email%>
<h2>Se adjunta la planilla con las especificaciones de su reserva</h2>
<%= render 'bookings/form_show', booking: @booking %>

