<div class="col-lg-4">
  <div class="card card-default">
    <div class="card-body text-center">
      <div class="py-2">
        <% if owner.image.attached? %>
          <div class="py-4 text-center" id="target">
            <%= image_tag url_for(owner.image), alt: "rss fit", height: "150", width: "150" %>
          </div>
        <% else %>
          <div id="target">
            <img class="img-fluid thumb96" src="<%= image_path('angle/user/perfil.png') %>"/>
          </div>
        <% end %>
        <br>
        <div class="form-group row">
          <div class="col-xl-12 col-md-12 col-12">
            <label for="pictureInput1" class="btn btn-secondary">
              <em class="fas fa-camera mr-2"></em> Elije una nueva foto
            </label>
            <%= file_field_tag "picture", multiple: false, id: "pictureInput1", required: "required",
                               accept: "image/*", direct_upload: true %>
            <%= hidden_field_tag 'image', id: 'image' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>