<div class="content-heading">
  <div>Reservas a mis propiedades</div>
</div>

<div id="results">
  <%= render(
          partial: 'bookings/list_owner',
          locals: {bookings: bookings}
      ) %>
</div>