<div class="content-heading">
  <div>Comodidades</div>
  <div class="ml-auto">
    <%= link_to new_facility_path do %>
      <button class="btn btn-info" title="Nueva comodidad">Nueva Comodidad
      </button>
    <% end %>
  </div>
</div>

<div id="results" align="center">
  <%= render(
          partial: 'facilities/list',
          locals: {facilities: facilities}
      ) %>
</div>