<ul id="description-list">
  <li>
    <h4>
      <em class="mr-2 fas fa-check"></em>
      <span class="font-title">
        ¡Busca una ciudad o un lugar famoso!
      </span>
    </h4>
  </li>
  <li>
    <h4>
      <em class="mr-2 fas fa-check"></em>
      <span class="font-title">
        Compara miles de hoteles en todo el Paraguay.
      </span>
    </h4>
  </li>
  <li>
    <h4>
      <em class="mr-2 fas fa-check"></em>
      <span class="font-title">
        Encuentra el hotel que mejor se adecue a tu viaje.
      </span>
    </h4>
  </li>
</ul>