<ul class="col-12" id="description-list">
  <li>
    <em class="mr-2 fas fa-check"></em>
    <span>
      ¡Busca una ciudad o un lugar famoso!
    </span>
  </li>
  <li>
    <em class="mr-2 fas fa-check"></em>
    <span>
      Compara miles de hoteles en todo el Paraguay.
    </span>
  </li>
  <li>
    <em class="mr-2 fas fa-check"></em>
    <span>
      Encuentra el hotel que mejor se adecue a tu viaje.
    </span>
  </li>
</ul>