<div class="col-12 results-filter-block">
    <%= puts filterrific.inspect %>
    <%= form_for_filterrific(filterrific, url: welcome_results_path, html: {id: :manual_filterrific_form}) do |f| %>
    <div class="form-group col-12">
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.select :with_estate_type, filterrific.select_options[:with_estate_type]%>
        </div>

    </div>
    <% end %>
</div>
