<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-9">
      <table class="table table-bordered card-transparent w-100">
        <thead>
        </tr>
        </thead>
        <tbody>
        <% estates.each do |estate| %>
          <tr>
            <td>
              <div class="media align-items-center">
                <a class="mr-3" href="#">
                  <img class="img-fluid rounded thumb64" src="/assets/angle/dummy-7308a1396b7e27429e4a053687d6e39178a251620203eee1c1feea1a6be296cc.png" alt="" />
                <%#= image_tag estate.images.first, alt: "rss feed", height: 100, width: 100 %>
                </a>
                <div class="media-body d-flex">
                  <div>
                    <h4 class="m-0"><%= estate.name %></h4>
                    <small class="text-muted"><%= estate.city.name %> | Show on map</small>
                    <p></p>
                  </div>
                    <div class="ml-auto">
                      <span>5.0</span>
                      <em class="fa-1x mr-2 fas fa-star"></em>
                    </div>
                </div>

              </div>
              <div class="media-body d-flex">
              <div class="ml-auto">
                <div class="btn btn-info btn-sm">View</div>
              </div>
              </div>
            </td>
          </tr>


        <% end %>
    </div>
    </tbody>
    </table>

  </div>
</div>

<div class="card card-body bg-gray-lighter">
  <div>
    <%= page_entries_info estates, :model => 'estate', :class => 'align-middle' %>
  </div>
</div>

<%= will_paginate estates, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>