<div class="col-12 filter-block">
  <%= puts @filterrific.inspect %>
  <%= form_for_filterrific(@filterrific, url: welcome_results_path, html: {id: :manual_filterrific_form}) do |f| %>
    <%#= form_for_filterrific @filterrific do |f| %>
    <div class="form-group col-12">
      <div class="row has-search d-flex align-items-center">
        <span class="fas fa-globe form-control-feedback"></span>
        <%= f.text_field :search_query, placeholder: "¿Qué ciudad búscas?",
                         :class => 'filterrific-periodically-observed form-control' %>
      </div>
      <div class="row has-search d-flex align-items-center">
        <span class="fa fa-search form-control-feedback"></span>
        <span class="fa fa-search form-control-feedback" ></span>
        <input type="date" class="form-control datetimepicker-input">
      </div>
      <div class="row has-search d-flex align-items-center">
        <span class="fa fa-search form-control-feedback" ></span>
        <input type="date" class="form-control datetimepicker-input">
      </div>
      <div class="row has-search d-flex align-items-center">
        <%= f.submit :Buscar, class: 'form-control btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
