
<div class="col-12 results-filter-block">
  <%= puts @filterrific.inspect %>
  <%= form_for_filterrific(@filterrific, url: welcome_results_path, html: { id: :manual_filterrific_form }) do |f| %>
    <%#= form_for_filterrific @filterrific do |f| %>
    <div class="form-group col-12">
      <div class="row has-search d-flex align-items-center results-block">
        <%= f.text_field :search_query, placeholder: "¿Qué ciudad búscas?" ,
                         :class => 'filterrific-periodically-observed form-control' %>
      </div>

      <div class="row has-search d-flex align-items-center results-block">
        <input type="date" class="form-control datetimepicker-input">
      </div>

      <div class="row has-search d-flex align-items-center results-block">
        <input type="date" class="form-control datetimepicker-input">
      </div>

      <div class="row has-search d-flex align-items-center results-block">
        <%= f.submit :Buscar, class: 'form-control btn btn-primary'%>
      </div>

    </div>
  <% end %>
</div>