
<section class="container">
  <header class="main-section-header">
    <h1 class="main-title">
      Busca ofertas de hotel
    </h1>
    <h6 class="main-subtitle">
      La forma más fácil de encontrar hotel
    </h6>
  </header>
  <section class="row main-filter-section">
    <div class="col-md-6 col-sm-12 d-flex align-items-center main-filter">
      <div class="col-12 filter-block">
        <%= puts @filterrific.inspect %>
        <%= form_for_filterrific @filterrific do |f| %>
          <div class="form-group col-12">
            <div class="row has-search d-flex align-items-center">
              <span class="fas fa-globe form-control-feedback"></span>
              <%= f.text_field :search_query, placeholder: "¿Qué ciudad búscas?" ,
                               :class => 'filterrific-periodically-observed form-control' %>
            </div>

            <div class="row has-search d-flex align-items-center">
              <span class="fa fa-search form-control-feedback" ></span>
              <input type="date" class="form-control datetimepicker-input">
            </div>

            <div class="row has-search d-flex align-items-center">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="date" class="form-control datetimepicker-input">
            </div>
            
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 d-flex align-items-center" id="description-section">

        <ul class="col-12" id="description-list">
          <li>
            <em class="mr-2 fas fa-check"></em>
            <span>
              ¡Busca una ciudad o un lugar famoso!
            </span>
          </li>
          <li>
            <em class="mr-2 fas fa-check"></em>
            <span>
              Compara miles de hoteles en todo el Paraguay.
            </span>
          </li>
          <li>
            <em class="mr-2 fas fa-check"></em>
            <span>
              Encuentra hotel que se mejor se adecue a tu viaje.
            </span>
          </li>
        </ul>

    </div>
  </section>
</section>

<div id="results">
  <%= render(
          partial: 'welcome/list',
          locals: {estates: @estates}
      ) %>
</div>

