
<section class="container">
  <header class="main-section-header">
    <h1 class="main-title">
      Busca ofertas de hotel
    </h1>
    <h6 class="main-subtitle">
      La forma más fácil de encontrar hotel
    </h6>
  </header>
  <section class="row main-filter-section">
    <!--  Filtro principal  -->
    <div class="col-md-6 col-sm-12 d-flex align-items-center main-filter">
      <%= render(
              partial: "welcome/main_filter",
              locals: {filterrific: filterrific}
          )%>
    </div>

    <!--  Descripciones de la página  -->
    <div class="col-md-6 col-sm-12 d-flex align-items-center" id="description-section">
      <%= render partial: "welcome/descriptions" %>
    </div>
  </section>
</section>

<section>
  <div class="container-fluid bg-gray-light">
    <br>
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        <h2>Mejores hoteles</h2>
      </div>
    </div>
    <div id="ofertas" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#ofertas" data-slide-to="0" class="active"></li>
        <li data-target="#ofertas" data-slide-to="1"></li>
        <li data-target="#ofertas" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">

        <div class="carousel-item active">			<!-- First Slide -->
          <div class="d-flex justify-content-around">			<!-- Flex Slide Box -->
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <!--a class="btn btn-primary waves-effect waves-light">Button</a-->
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>

        <div class="carousel-item">			<!-- Second Slide -->
          <div class="d-flex justify-content-around">			<!-- Flex Slide Box -->
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text text-danger">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>


        <div class="carousel-item">			<!-- Second Slide -->
          <div class="d-flex justify-content-around">			<!-- Flex Slide Box -->
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>

      </div>
      <br>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#ofertas" data-slide="prev">
        <span class="fas fa-chevron-circle-left fa-3x text-primary"></span>
      </a>
      <a class="carousel-control-next" href="#ofertas" data-slide="next">
        <span class="fas fa-chevron-circle-right fa-3x text-primary"></span>
      </a>
    </div>
  </div>
</section>