
<section class="container">
  <header class="main-section-header">
    <h1 class="main-title">
      Busca ofertas de hotel
    </h1>
    <h6 class="main-subtitle">
      La forma más fácil de encontrar hotel
    </h6>
  </header>
  <section class="row main-filter-section">
    <!--  Filtro principal  -->
    <div class="col-md-6 col-sm-12 d-flex align-items-center main-filter">
      <%= render partial: "welcome/main_filter" %>
    </div>

    <!--  Descripciones de la página  -->
    <div class="col-md-6 col-sm-12 d-flex align-items-center" id="description-section">
      <%= render partial: "welcome/descriptions" %>
    </div>
  </section>
</section>

<div id="results">
  <%= render(
          partial: 'welcome/list',
          locals: {estates: @estates}
      ) %>
</div>

