<section class="container">
  <div class="row">
    <div class="filter-section">
      <%= render(
              partial: "welcome/results_filter",
              locals: {filterrific: filterrific}
          ) %>
    </div>
    <div class="col" id="results">
        <%= render(
                partial: 'welcome/list',
                locals: {estates: @estates}
            ) %>
    </div>
  </div>
</section>