<section class="container">
  <div class="row results-filter-section">
      <%= render(
    <div class="col-md-3">
              partial: "welcome/results_filter",
          ) %>
              locals: {filterrific: filterrific}
    </div>
      <div id="results">
    <div class="col-md-9">
        <%= render(
                partial: 'welcome/list',
                locals: {estates: @estates}
            ) %>
      </div>
    </div>
  </div>
</section>