<section class="row results-filter-section">
    <div class="col-2">
        <%= render(
                partial: "welcome/results_filter",
                locals: {filterrific: filterrific}
            )%>
    </div>
    <div class="col-md-10">
        <div id="results">
            <%= render(
                partial: 'welcome/list',
                locals: {estates: @estates}
            ) %>
        </div>
    </div>
</section>