<div class="content-heading">
  <div>Departamentos</div>

  <div class="ml-auto">
    <%= link_to new_departament_path do %>
      <button class="btn btn btn-info" title="Nuevo departamento">
        <i class="fas fa-plus text-light fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<div id="results" align="center">
  <%= render(
          partial: 'departaments/list',
          locals: {departaments: departaments}
      ) %>
</div>
