<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-default">
        <div class="card-header"><h5><strong>Disponibilidad</strong></h5></div>
        <!-- START table-responsive-->
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
            <tr>
              <th>Tipo de habitacion</th>
              <th>Capacidad</th>
              <th>Precio</th>
              <th>Seleccionar habitacion</th>
            </tr>
            </thead>
            <tbody>
            <% rooms.each do |r| %>
              <tr>
                <td class="col-2">
                  <%= link_to r.room_type, room_estate_path(r.id), class: 'btn btn-link', remote: true %>
                </td>
                <td class="col-2">
                  <% r.capacity.to_i.times do %>
                    <em class="fa-lg fas fa-user"></em>
                  <% end %>
                </td>
                <td class="col-2" id="price"><%= r.price %></td>
                <td class="col-2">
                  <label>
                    <select class="custom-select custom-select-sm" id="quantity" onchange="addValues()">
                      <option value="0">0</option>
                      <% (r.quantity != nil ? r.quantity : 0).times do |q| %>
                        <option><%= q + 1 %></option>
                      <% end %>
                    </select>
                  </label>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- END table-responsive-->
      </div>
    </div>
    <div class="col col-lg-2">
        <div class="card card-default mb-3">
          <div class="card-body">
            <div class="card-header">
              <h5><strong>Total</strong></h5>
            </div>
            <label for="total"></label><input class="form-control" id="total" type="text" disabled/>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" id="book">Reservar</button>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="room-content"></div>
<script>
  const book = $('#book');
  $(document).ready(function () {
      book.prop('disabled', true);
  });

  function addValues() {
      let total = 0;
      $('tbody tr').each(function () {
          let sum = parseInt($('option:selected', this).text()) * parseInt($('#price', this).text());
          total = total + sum;
      });
      $('#total').val(total);
      total === 0 ? book.prop('disabled', true) : book.prop('disabled', false);
  }
</script>
