<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-default">
        <div class="card-header"><h5><strong>Disponibilidad</strong></h5></div>
        <!-- START table-responsive-->
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
            <tr>
              <th>Tipo de habitacion</th>
              <th>Capacidad</th>
              <th>Precio</th>
              <th>Seleccionar habitacion</th>
            </tr>
            </thead>
            <tbody>
            <% @rooms.each do |r| %>
              <tr>
                <td class="col-2"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#showRoom" onclick="viewRoom('<%= r.room_type %>');"><%= r.room_type %></button></td>
                <td class="col-2">
                  <% r.capacity.to_i.times do %>
                    <em class="fa-lg fas fa-user"></em>
                  <% end %>
                </td>
                <td class="col-2"><%= r.price %></td>
                <td class="col-2">
                  <select class="custom-select custom-select-sm">
                    <option selected="">0</option>
                    <% r.quantity.times do |q| %>
                      <option value=<% q + 1 %>><%= q + 1 %></option> #mejorar el + 1
                    <% end %>
                  </select>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- END table-responsive-->
      </div>
    </div>
    <div class="col col-lg-2">
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5><strong>Sumatoria</strong></h5> #valor que se debe modificar con la sumatoria de hab
            <button class="btn btn-primary">Reservar</button>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showRoom" tabindex="-1" role="dialog" aria-labelledby="showRoom" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showRoomTitle">hola</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  viewRoom = function(habitacion){
      $('#showRoomTitle').text(habitacion);
  }
</script>
