<%= render partial: "estates/filter_all_estates", :locals => {filterrific: filterrific} %>
<div id="filterrific_results">
  <%= render partial: "estates/list_all_estates", :locals => {estates: estates} %>
</div>