<h1>Mis Propiedades</h1>

<div id="results">
  <%= render(
    partial: 'estates/list',
    locals: {estates: @estates}
  ) %>
</div>

<br>
<%= link_to 'Nueva Propiedad', new_estate_path, :class => "mb-1 btn btn-primary" %>
