<p id="notice"><%= notice %></p>

<div class="content-heading">
  <div>Ofertas de mis propiedades</div>

  <div class="ml-auto">
      <button class="btn btn btn-info" title="Nueva propiedad">
        <i class="fas fa-plus text-light fa-1x"></i>
      </button>
  </div>
</div>
<%= render partial: "offers/filter", :locals => {filterrific: filterrific} %>

<div id="filterrific_results">
  <%= render partial: "offers/list", :locals => {offers: offers} %>
</div>