<!-- Modal -->
<div class="modal fade" id="crop_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h4>Recortar imagen</h4></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="canvas"></div>
      </div>
      <div class="modal-footer">
        <button id="close-input" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="result-input" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>