<div class="content-heading">
  <div>Ciudades</div>

  <div class="ml-auto">
    <%= link_to new_city_path do %>
      <button class="btn btn-info" title="Nueva ciudad">Nueva Ciudad</button>
    <% end %>
  </div>
</div>

<div id="results" align="center">
  <%= render(
          partial: 'cities/list',
          locals: {cities: cities}
      ) %>
</div>