// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-image{
  width: 100px;
  height: 100px;
  background-size: cover;
  display: block;
}
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}
.modal-body{
  background-color: #5bc0de;
}
.cr-image {
  background-color: white;
  border: 2px solid red;
}
.cr-boundary{
  background-color: #8c8c8c;
  border: 2px solid black;
}