// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-image{
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
  }