<div >
  <div >
    <% flash.each do |type,msg| %>
      <% if type == "notice" %>
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <ul><li><%= msg %></li></ul></div>
      <% elsif type == "alert" %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <ul><li><%= msg %></li></ul></div>
      <% else %>
        <div class='alert alert-<%= "#{type}" %>'>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <ul><li><%= msg %></li></ul></div>
      <% end %>
    <% end %>
    </div>
    </div>
