<div class="content-heading">
  Administraci&oacute;n Nova Booking
</div>
<div class="row">
  <div class="col-xl-3 col-lg-6">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-lg-5 bg-green rounded text-center">
        <div class="h3 text-bold text-uppercase">propiedades registradas</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-lg-5 bg-pink rounded text-center">
        <div class="h3 text-bold text-uppercase">propiedades mejor valoradas</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-lg-5 bg-warning rounded text-center">
        <div class="h3 text-bold text-uppercase">Propiedades m&aacute;s comentadas</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-lg-5 bg-primary rounded text-center">
        <div class="h3 text-bold text-uppercase">ciudades</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-lg-5 bg-purple rounded text-center">
        <div class="h3 text-bold text-uppercase">departamentos</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-lg-5 bg-purple rounded text-center">
        <div class="h3 text-bold text-uppercase">comodidades</div>
      </div>
    </div>
  </div>
</div>
