<%= render 'tabs', id: 'most_commented' %>

<h4>Alojamientos por cantidad de comentarios</h4>
<p>comentarios:alojamiento(s)</p>
<%= pie_chart Estate.group(:comments_quant).count %>
<br>
<div id="results">
  <%= render(
          partial: 'reports/commented',
          locals: {estates: @estates}
      ) %>
</div>