<%= render 'tabs', id: 'most_visited' %>

<h4>Alojamientos por reservaciones</h4>
<p>reservas:alojamiento(s)</p>
<%= pie_chart Estate.group(:bookings_quant).count %>
<br>
<div id="results">
  <%= render(
          partial: 'reports/booked',
          locals: {estates: @estates}
      ) %>
</div>