<%= render 'tabs', id: 'most_valuated' %>

<h4>Alojamientos por valoracion</h4>
<p>valoracion:alojamiento(s)</p>
<%= pie_chart Estate.group(:score).count %>
<br>
<div id="results">
  <%= render(
          partial: 'reports/valuated',
          locals: {estates: @estates}
      ) %>
</div>